@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@import "../../vendor/wireui/wireui/ts/global.css";
@source '../../vendor/wireui/wireui';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

    --spacing-sidebar: 18rem;
    --spacing-mobile-sidebar: 18rem;


    --color-background: var(--primary-bg);
    --color-foreground: var(--primary-fg);

    --color-accent: var(--accent-bg);
    --color-accent-foreground: var(--accent-fg);

    --color-surface: var(--secondary-bg);
    --color-surface-foreground: var(--secondary-fg);

    --color-muted-foreground: var(--muted-fg);
}

:root {
    --primary-bg: #f0f4f9;
    --primary-fg: #1f1f1f;

    --accent-bg: var(--color-secondary-200);
    --accent-fg: var(--color-secondary-900);

    --secondary-bg: #ffffff;
    --secondary-fg: #1f1f1f;

    --muted-fg: #444746;
}

.dark {
    --primary-bg: #161d29;
    --primary-fg: var(--color-gray-300);

    --accent-bg: var(--color-secondary-700);
    --accent-fg: var(--color-secondary-100);

    --secondary-bg: #1e293b;
    --secondary-fg: #e3e3e3;

    --muted-fg: var(--color-gray-400);
}

/* Scroll container */
[data-scroll-area] {
    overflow: auto;
    min-height: 0;
    -webkit-overflow-scrolling: touch;

    /* Firefox */
    scrollbar-color: color-mix(in srgb, var(--primary-fg) 40%, transparent) transparent;
}

/* WebKit (Chrome, Edge, Safari) */
[data-scroll-area]::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

[data-scroll-area]::-webkit-scrollbar-track {
    background: transparent;
}

[data-scroll-area]::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--muted-fg) 35%, transparent);
    border-radius: 9999px;
    border: 2px solid transparent; /* creates “floating” effect */
    background-clip: content-box;
}

[data-scroll-area]::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in srgb, var(--muted-fg) 55%, transparent);
}
